/* Google fonts-Open sans */
body{
    font-family: 'Open Sans', sans-serif;
}
/* Banner */
.banner-container{
    background-color: #cacaca;
}
.banner-column{
    background-color: #8d8d8d;
}
/* navbar */
.navbar-container{
    background-color: #262B37;
}
/* About */
.about-container{
    background-color: #00BDBD;
}