/* Google fonts-Open sans */
body{
    font-family: 'Open Sans', sans-serif;
}
/* Banner */
.banner-container{
    background-color: #cacaca;
}
.banner-column{
    background-color: #8d8d8d;
}
/* navbar */
.navbar-container{
    top: 0;
    background-color: #262B37;
    position: sticky;
    z-index: 2;
}
/* About */
.about-container{
    background-color: #00BDBD;
}
/* Education */
.education-container{
    background-color: #EEEEEE;
}
.bg-redtype{
    background-color: #FB857F;
}
.bg-redtype:hover{
    color: black!important;
}
.redtype-color{
    color: #FB857F;
}
.circle-edu{
    background-color: #FB857F;
    width: 150px;
    height: 150px;
    border-radius: 50%;
}
/* Project */
.project-container{
    background-color: #2BB3DD;
}
/* Contact */
.form-container{
    background-color: #474D5D;
}
.bummy-box{
    font-size: 72px;
}
.inner-form{
    background-color: #585F73;
}
/* footer */
.footer{
    background-color: #2BB3DD;
}
.circle{
    width: 60px;
    height: 60px;
    border-radius: 50%;
    display: inline-block;
    background-color: white;
    font-size: 40px;
    text-align: center; 
    color: #2BB3DD;
}
.circle:hover{
    background-color: #474D5D;
}